{% load i18n %}
{% load static %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {% if label == 'avg' %}
                {% trans "Average price" %}
            {% elif label == 'total' %}
                {% trans "Total revenue" %}
            {% endif %}
        </h3>
    </div>
    <div class="panel-body">
        <noscript>
            <div class="alert alert-warning">
                {% trans "JavaScript is required to show the chart at this time, sorry!" %}
            </div>
        </noscript>
        <div id="{{ label }}_chart" class="chart"></div>
    </div>
</div>

<script type="application/json" id="{{ label }}-data">{{ data|safe }}</script>
<script type="text/javascript">
    $(function () {
        $(".chart").css("height", "300px");

        const data = JSON.parse($("#{{ label }}-data").html());

        new Morris.Area({
            element: '{{ label }}_chart',
            goals: data.target,
            data: data.data,
            xkey: 'date',
            ykeys: ['price'],
            labels: [gettext({% if label == 'avg' %}'Average price'{% elif label == 'total' %}'Total revenue'{% else %}''{% endif %})],
            yLabelFormat: function (x) { return x.toFixed(2) },
            ymin: data.ymin || "auto",
            postUnits: ' €',
            smooth: false,
            resize: true,
            fillOpacity: 0.3,
            behaveLikeLine: true,
            goalLineColors: ["#33c33c"],
            goalStrokeWidth: 4,
        });
    });
</script>
