{% extends "pretixpresale/event/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load rich_text %}
{% load compress %}
{% load static %}

{% if request.event.stretchgoals_is_public %}

    {% block custom_header %}
        <script type="text/javascript" src="{% static "charts/raphael-min.js" %}"></script>
        <script type="text/javascript" src="{% static "charts/morris.js" %}"></script>
        {% compress css %}
            <link rel="stylesheet" href="{% static "charts/morris.scss" %}" type="text/x-scss"/>
        {% endcompress %}
    {% endblock %}

    {% block title %}{% trans "Presale Goals" %} :: {{ event.name }}{% endblock %}

    {% block content %}
        <h2>{% trans "Presale Goals" %}</h2>

        {{ data.public_text|rich_text }}

        {% if significant %}
            {% if request.event.settings.stretchgoals_chart_totals %}
                {% include "pretixplugins/stretchgoals/chart.html" with data=data.total_data label="total" %}
                {% if request.event.settings.stretchgoals_calculation_text %}
                    <ul>
                        {% for goal in goals %}
                            <li>
                                {% if goal.total_left <= 0 %}
                                    {% blocktrans trimmed with total=goal.total number=goal.name %}
                                        Goal "{{ name }}" of {{ total }} € has been met!
                                    {% endblocktrans %}
                                {% else %}
                                    {% blocktrans trimmed with total=goal.total left=goal.total_left name=goal.name %}
                                        To reach goal "{{ name }}" of {{ total }} €, the remaining tickets need to sell for a total of {{ left }} €.
                                    {% endblocktrans %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}

            {% if request.event.settings.stretchgoals_chart_averages %}
                {% include "pretixplugins/stretchgoals/chart.html" with data=data.avg_data label="avg" %}
                {% if request.event.settings.stretchgoals_calculation_text %}
                    <ul>
                        {% for goal in goals %}{% if goal.avg_required %}
                            <li>
                                {% if goal.avg_required <= 0 %}
                                    {% blocktrans trimmed with total=goal.avg name=goal.name %}
                                        Goal "{{ name }}" of {{ total }} € average sales price has been met!
                                    {% endblocktrans %}
                                {% else %}
                                    {% blocktrans trimmed with total=goal.avg name=goal.name required=goal.avg_required %}
                                        To reach goal "{{ name }}" of {{ total }} € average sales price, the remaining tickets need to sell at an average of {{ required }} €.
                                    {% endblocktrans %}
                                {% endif %}
                            </li>
                        {% endif %}{% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
        {% else %}
            <div class="alert alert-info">
                {% trans "There is not enough data available yet do provide meaningful statistics. Please check back later!" %}
            </div>
        {% endif %}
    {% endblock %}

{% endif %}
