{% extends "pretixcontrol/event/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load money %}

{% block title %} {% trans "Stretch Goal Settings" %} {% endblock %}

{% block content %}
    <h1>
        {% trans "Stretch Goal Settings" %}
        <small><a href="{% url "plugins:pretix_stretchgoals:control" organizer=request.organizer.slug event=request.event.slug %}">{% trans "Back" %}</a>
        </small>
    </h1>

    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form_errors form %}

        <legend>{% trans "General settings" %}</legend>
        <div class="col-md-3"></div>
        <div class="col-md-9">
            {% blocktrans trimmed %}
                These settings decide which timespan and which items are included in the calculation of
                all goals below (for example, you might not want to include anything sold after a certain
                date, or only include admission tickets, but not T-shirts).
            {% endblocktrans %}
            <p>
            </div>
            <div class="col-md-12">
                <fieldset>
                    {% bootstrap_field form.stretchgoals_start_date layout="control" %}
                    {% bootstrap_field form.stretchgoals_end_date layout="control" %}
                    {% bootstrap_field form.stretchgoals_items layout="control" %}
                    {% bootstrap_field form.stretchgoals_include_pending layout="control" %}
                </fieldset>
            </div>

            <legend>{% trans "Goals" %}</legend>
            <div class="col-md-3"></div>
            <div class="col-md-9">
                {% blocktrans trimmed %}
                    Here you can define one or multiple goals you want to reach during your presale.
                    You need to enter at least a total goal – if you supply information on how many
                    items you hope to sell, we can calculate the required average price (total aswell as
                    current), too.
                {% endblocktrans %}
                <p>
                </div>
                {% if form.goals %}
                    <label class="col-md-3 control-label">{% trans "Current goals" %}</label>
                    <div class="col-md-9">
                        <ul>
                            {% for goal in form.goals %}
                                <li>
                                    "{{ goal.name }}": {{ goal.total|money:request.event.currency }}
                                    {% if goal.amount %}({{ goal.amount }} {% trans "items" %}){% endif %}
                                    <a href="?delete={{ forloop.counter }}" class="btn btn-xs btn-danger">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        <p>
                        </div>
                {% endif %}
                <div class="col-md-12">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-3 control-label">&nbsp;</label>
                            <div class="col-md-9">
                                <div class="checkbox">
                                    <label for="id_add_stretchgoal">
                                        <input type="checkbox" name="add_stretchgoal" value="on"
                                               class="" id="id_add_stretchgoal" {% if not form.goals or "add_stretchgoal" in request.POST %}checked=""{% endif %}>
                                        {% trans "Add a new goal" %}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div data-display-dependency="#id_add_stretchgoal">
                            {% bootstrap_field form.stretchgoals_new_name layout="control" %}
                            {% bootstrap_field form.stretchgoals_new_total layout="control" %}
                            {% bootstrap_field form.stretchgoals_new_amount layout="control" %}
                            {% bootstrap_field form.stretchgoals_new_description layout="control" %}
                        </div>
                    </fieldset>
                </div>

                <legend>{% trans "Display" %}</legend>
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    {% blocktrans trimmed %}
                        These settings decide if, where, and how much information on your stretch goals is
                        shown publically.
                    {% endblocktrans %}
                    <p>
                    </div>
                    <div class="col-md-12">
                        <fieldset>
                            {% bootstrap_field form.stretchgoals_is_public layout="control" %}
                            {% bootstrap_field form.stretchgoals_chart_averages layout="control" %}
                            {% bootstrap_field form.stretchgoals_chart_totals layout="control" %}
                            {% bootstrap_field form.stretchgoals_calculation_text layout="control" %}
                            {% bootstrap_field form.stretchgoals_min_orders layout="control" %}
                            {% bootstrap_field form.stretchgoals_public_text layout="control" %}
                        </fieldset>
                    </div>
                </div>

                <div class="form-group submit-group">
                    <button type="submit" class="btn btn-primary btn-save">
                        {% trans "Save" %}
                    </button>
                </div>
            </form>

{% endblock %}
